.selected-cart{
    height: 250px;
    background: linear-gradient(0.45turn, #d8d8d8, #ffffff80 );
    .inner-container{
        width: 650px;
        height: 230px;
        margin-left: 2em;
        margin-top: 1em;
        border-radius: 2em;
    }
}